:host {
  position: relative;
}

:host, :host > ::content [contenteditable] {
  outline: none;
}

:host([inline]) {
  display: inherit;
  cursor: text;
}

:host([block]) {
  display: block;
}

.placeholder {
  position: absolute;
  opacity: 0.25;
  pointer-events: none;
  white-space: nowrap;
  min-width: 100%;
}
